@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Titillium+Web:wght@300;600&display=swap');

body{
    font-family: 'Open Sans', sans-serif;
}


.titles{
    font-family: 'Titillium Web', sans-serif;
    font-size: 22px;
}

.navColor{
    background-color: #477e6b;
}

.logo{
    width: 50%;
}

header{
    width: 100%;
    height: 600px;
    background-image: url('../img/foto-principal.JPG');
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
}

.titulo1{
    font-family: 'Titillium Web', sans-serif;
}

.exp{
    background-color:   #85cfa6  ;
}

@media only screen and (max-width: 800px) {

    header{
            width: 100%;
            height: auto;
            background-size: 100% auto;
    }
}